<div class="form-base">
  <div class="formulario">
    <div class="container text-center">
      <div class="row">
        <div class="col coluna-menu">
          <div class="menu">
            <div class="botao-content">
              <button id="botao-ativado">1</button>
              <div class="text">
                <p class="steps-text">STEP 1</p>
                <p class="steps-info">YOUR INFO</p>
              </div>
            </div>
            <div class="botao-content">
              <button>2</button>
              <div class="text">
                <p class="steps-text">STEP 2</p>
                <p class="steps-info">SELECT PLAN</p>
              </div>
            </div>
            <div class="botao-content">
              <button>3</button>
              <div class="text">
                <p class="steps-text">STEP 3</p>
                <p class="steps-info">ADD-ONS</p>
              </div>
            </div>
            <div class="botao-content">
              <button>4</button>
              <div class="text">
                <p class="steps-text">STEP 4</p>
                <p class="steps-info">SUMMARY</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-8 form">
          <div class="title mb-2">
            <h2>Personal Info</h2>
            <p>Please provide your name, email address, and phone number.</p>
          </div>
          <div class="formulario-inputs">
            <form>
              <div class="mb-3 form-info">
                <label for="exampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInput" aria-describedby="name" placeholder="Anderson Silva">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="anderson@gmail.com">
              </div>
              <div class="mb-3">
                <label for="inputFone" class="control-label">Telefone</label>
                <input type="text" class="form-control" id="inputFone"  placeholder="(xx) xxxxx-xxxx">
              </div>
              <div class="mb-3 botao-next-step">
                <button type="submit" routerLink="/plan" class="btn btn-primary">Next Step</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
