<div class="form-base">
  <div class="formulario">
    <div class="container text-center">
      <div class="row">
        <div class="col coluna-menu">
          <div class="menu">
            <div class="botao-content">
              <button>1</button>
              <div class="text">
                <p class="steps-text">STEP 1</p>
                <p class="steps-info">YOUR INFO</p>
              </div>
            </div>
            <div class="botao-content">
              <button>2</button>
              <div class="text">
                <p class="steps-text">STEP 2</p>
                <p class="steps-info">SELECT PLAN</p>
              </div>
            </div>
            <div class="botao-content">
              <button id="botao-ativado">3</button>
              <div class="text">
                <p class="steps-text">STEP 3</p>
                <p class="steps-info">ADD-ONS</p>
              </div>
            </div>
            <div class="botao-content">
              <button>4</button>
              <div class="text">
                <p class="steps-text">STEP 4</p>
                <p class="steps-info">SUMMARY</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-8 form">
          <div class="title mb-2">
            <h2>Pick add-ons</h2>
            <p>Add-ons help enhance your gaming experience.</p>
          </div>
          <div class="container text-center opcoes">
            <div class="row align-items-center opcoes-itens">
              <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              </div>
              <div class="col-7 opcoes-text">
                <label class="form-check-label" for="flexCheckDefault">Online service</label>
                <p>Access to multiplayer games</p>
              </div>
              <div class="col-3 opcoes-price">
                <p>+$1/mo</p>
              </div>
            </div>
          </div>
          <div class="container text-center opcoes">
            <div class="row align-items-center opcoes-itens">
              <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
              </div>
              <div class="col-7 opcoes-text">
                <label class="form-check-label" for="flexCheckDefault1">Larger storage</label>
                <p>Extra 1TB of clud save</p>
              </div>
              <div class="col-3 opcoes-price">
                <p>+$2/mo</p>
              </div>
            </div>
          </div>
          <div class="container text-center opcoes">
            <div class="row align-items-center opcoes-itens">
              <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
              </div>
              <div class="col-7 opcoes-text">
                <label class="form-check-label" for="flexCheckDefault2">Customizable Profile</label>
                <p>Custom theme on your profile</p>
              </div>
              <div class="col-3 opcoes-price">
                <p>+$2/mo</p>
              </div>
            </div>
          </div>
          <div class="next-and-back">
            <button routerLink="/plan" class="go-back">Go Back</button>
            <div class="mb-3 botao-next-step">
              <button type="submit" routerLink="/summary" class="btn">Next Step</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
